[submodule "edo"]
	path = edo
	url = git@gitlab.com:Arthapz/edo.git
[submodule "external/GSL"]
	path = external/GSL
	url = https://github.com/microsoft/GSL.git
[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "external/spv-cross"]
	path = external/spv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "external/volk"]
	path = external/volk
	url = git@gitlab.com:Arthapz/volk.git
