// Add predefined macros for your project here. For example:
// #define THE_ANSWER 42
#define STORM_BUILD
#define FMT_HEADER_ONLY
#define STORM_OS_WINDOWS
#define VK_NO_PROTOTYPES
#define VULKAN_HPP_DISPATCH_LOADER_DYNAMIC 1
#define VULKAN_HPP_ENABLE_DYNAMIC_LOADER_TOOL 0
#define VULKAN_HPP_NO_EXCEPTIONS
